extends layout/main

block vars
	- var pageTitle = 'Gulp Starter 2.0'

block styles
	link(rel="stylesheet", href="css/style.min.css")


block content
	.container
			img(
				src="img/gulp-starter.jpg" alt="Gulp Starter"
				).img-fluid.mt-20
			h1.my-title.mt-30 Hello World!
			p This my Gulp Starter template with PUG+SASS
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste nulla nihil repellendus cupiditate veritatis quibusdam? Quod quibusdam possimus magnam sapiente, ab animi doloribus porro praesentium mollitia sunt laboriosam sequi omnis!
			button JNrhsnm

